 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Looma K</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#crafts">Korut</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Yritys</a>
                    </li>                    
                    <li>
                        <a class=2"page-scroll" href="#contact">Ota yhteyttä</a>
                    </li>
                     <li>
                        <a href="https://www.facebook.com/Looma-K-616846191849587/"><i class="fa fa-1x fa-facebook"></i> Facebook</a>
                    </li>                    
                    <li>
                        <a href="https://www.instagram.com/loomak.crafts"><i class="fa fa-1x fa-instagram"></i> Instagram</a>
                    </li>                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
</nav>