---
title: Looma K
description: Looma K - koruja käsityönä
---
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading"><img src="img/loomak.png" alt="Looma K"/></h1>
                <hr>
                <a href="#crafts" class="btn btn-primary btn-xl page-scroll">Korut</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="crafts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Koruja käsityönä</h2>
                    <hr class="light">
                    <p class="text-faded">Korujen materiaaleina käytetään elintarvikekelpoista silikonia sekä sertifioitua puuta.</p>
                    <a href="#portfolio" class="page-scroll btn btn-default btn-xl sr-button">Esimerkkejä</a>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-6 col-sm-6">
                    <a href="img/portfolio/fullsize/koru1.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/koru1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Aikuisten korut
                                </div>
                                <div class="project-name">
                                    Esimerkki
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="img/portfolio/fullsize/koru2.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/koru2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Aikuisten korut
                                </div>
                                <div class="project-name">
                                    Esimerkki
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><img src="img/loomak_logo_2.png" alt="Looma K - logo"/></h2>
                    <hr>
                    <p class="text-muted">Looma K on yhden kotiäidin (ja vähän miehen ja kahden tytön) pienyritys, joka valmistaa käsityönä aikuisten ja lasten koruja.</p>
                    <a href="#contact" class="page-scroll btn btn-primary btn-xl sr-button">Yhteystiedot</a>
                </div>
            </div>
        </div>
    </section>