---
title: Site title
description: Site description
---
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">{{ title }}</h1>
                <hr>
                <a href="#next1" class="btn btn-primary btn-xl page-scroll">Next</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="next1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Section Heading</h2>
                    <hr class="light">
                    <p class="text-faded">Faded text to describe things.</p>
                    <a href="#next2" class="page-scroll btn btn-default btn-xl sr-button">The next one</a>
                </div>
            </div>
        </div>
    </section>

    <section id="next2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Some other heading</h2>
                    <hr>
                    <p class="text-muted">Muted text to describe things.</p>
                    <a href="#contact" class="page-scroll btn btn-primary btn-xl sr-button">Contact</a>
                </div>
            </div>
        </div>
    </section>